html, body {
    touch-action: none;
    overflow: hidden;
}


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
}
.personal-profile{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.top-bar{
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    width: 100%;
    background: rgb(99,107,47);
    background: linear-gradient(45deg, rgba(99,107,47,1) 0%, rgba(186,192,149,1) 100%);    
    position:fixed;
    border-bottom: solid 1.5px black;
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

#topBarName{
    width: 100%;
    font-size: 30px;
    font-family: "Roboto", arial;
    color: white;
    font-weight: bold;
    height: 100%;
    margin-top: 20px;
    margin-left: 20px;
    flex: 1;
}

#centerTopBar{
    flex: 2;
}

#rightTopBar{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

#instImg, #twImg{
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-left: 12px;
}

#instImg{
    margin-left: 15px;
}

.icon-img{
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.main-container{
    flex: 1;
    width: 100%;
    background-color: white;    
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

#center-content{
    height: auto !important;
    width: 50%;
    background: rgb(61,65,39);
    background: linear-gradient(45deg, rgba(61,65,39,1) 0%, rgba(134,136,120,1) 100%); 
    margin-top: 100px;
    border-radius: 18px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

#personalData{
    height: 200px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.788);
    margin-top: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profileImg{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1.5px black;
    margin-left: 40px;
    box-shadow: 10px 10px 93px -16px rgba(0,0,0,0.75);
}

#profileInfo{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

#profileName{
    font-family: Roboto, Arial;
    font-size: 25px;
    font-weight: bold;
}

#profileDomain{
    margin-left: 5px;
    margin-top: 8px;
    font-family: Roboto, Arial;
    color: rgb(117, 117, 117);
}

#contributionsContainer{
    width: 85%;
    height: 220px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 18px;
}

#contributionsImg{
    width: 95%;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 18px;
}

#technologiesContainer{
    width: 85%;
    background-color: rgba(255, 255, 255, 0.774);
    margin-top: 40px;
    border-radius: 20px;
}

.tech1{
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    font-family: Roboto, Arial;
    font-size: 25px;
    margin-top: 30px;
    display: flex;
    margin-bottom: 10px;
    font-weight: 500;

}
.tech1 div{
    display: flex;
    align-items: center;
}

.tech-img{
    height: 65px;
    object-fit: contain;
    margin-right: 10px;
}
#techContName{
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 23px;
    margin-top: 18px;
    margin-left: 30px;
}

#projectsContainer{
    width: 85%;
    height: 525px;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 20px;
    margin-top: 40px;
}

#projectsName{
    margin-top: 25px;
    margin-left: 40px;
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 25px;
}

#competenteContainer{
    width: 85%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.788);
    margin-top: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
#compDiv{
    width: 100%;
    height: 60px;
    display: flex; 
    justify-content: center;
}
#compLanguagesSwitch{
    display: flex;
    flex-direction: row;
}

.btnSwitch{
    width: 100px;
    margin-top: 20px;
    border: none;
    font-family: Roboto, Arial;
    font-size: 15px;
    font-weight: 500;
    border: solid 1px black;
    margin-bottom: 20px;
}

#studiesBtn{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 0;
}

#languagesBtn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-lang{
    width: 90%;
    margin-left: 38px;
}

#language{
    display: none;
}

.img-studies{
    width: 90%;
    margin-left: 40px;
    border-radius: 10px;
}

.SudokuGame{
    width: 100%;
    margin-left: 28px;
    margin-top: 18px;
}

.sudokuGameImg{
    width: 750px;
    border-radius: 16px;
}
